.WeatherApp__fiveDaysForecastContent {
  margin-top: 72px;
}

.WeatherApp__fiveDaysForecastItems {
  padding: 0;
  margin: 0;
}

.WeatherApp__fiveDaysForecastItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WeatherApp__fiveDaysForecastDay {
  width: 20%;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.WeatherApp__fiveDaysForecastItemIcon {
  width: 48px;
  height: 48px;
}

.WeatherApp__fiveDaysForecastItemMinTemp {
  width: 10%;
  color: #fff;
  font-weight: 700;
}

.WeatherApp__fiveDaysForecastItemMaxTemp {
  width: 10%;
  color: #f8e71c;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .WeatherApp__fiveDaysForecastContent {
    margin-left: 128px;
    margin-right: 128px;
  }
}

@media screen and (min-width: 1280px) {
  .WeatherApp__fiveDaysForecastContent {
    width: 75%;
    margin-left: 128px;
    margin-right: 128px;
  }

  .WeatherApp__fiveDaysForecastItems {
    width: 600px;
    margin: 0 auto;
  }

  .WeatherApp__fiveDaysForecastDay {
    color: #4a90e2;
  }

  .WeatherApp__fiveDaysForecastItemMinTemp {
    color: #4a90e2;
  }

  .WeatherApp__fiveDaysForecastItemMaxTemp {
    color: red;
  }
}
